<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Weather</title>
  <script>
    const env = '<%= process.env.NODE_ENV === "development" %>';
   if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        const path = env === 'true' ? '/' : '/weather/';
          navigator.serviceWorker.register('/weather-service-worker.js').then(registration => {
          console.log('SW registered: ', registration);
          }).catch(registrationError => {
          console.log('SW registration failed: ', registrationError);
          });
      });
  }
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>